In [57]:
import pandas as pd
from collections import Counter

In [20]:
reviews_df = pd.read_csv("/Users/hwii/Documents/BOAZ/project/code/크롤링/Reviews_csv/Reviews_merged_processed.csv",
                     index_col=0)
reviews_df.head()

,Id,Rating,Review,Review_len_morph
0,2301428333,추천,"[('귀여운', 'Adjective'), ('동전지갑', 'Noun'), ('♡',...",32
1,2301428333,추천,"[('기염', 'Noun'), ('깜', 'Verb'), ('찍', 'Noun'),...",33
2,2301428333,적극추천,"[('너무', 'Noun'), ('이뻐', 'Adjective'), ('요', 'E...",30
3,2301428333,적극추천,"[('강추템', 'Noun'), ('털', 'Noun'), ('빠짐', 'Verb'...",30
4,2301428333,적극추천,"[('너무', 'Noun'), ('귀엽', 'Adjective'), ('습니다', ...",63

#### 길이

In [16]:
reviews_id = set(reviews['Id'].tolist())
print("review 가져온 상품 개수: %d" % len(reviews_id))

review 가져온 상품 개수: 11186

#### 리뷰 단어

In [93]:
reviews_lists = reviews_df['Review'].tolist()
reviews_list = [eval(review) for review in reviews_lists] 
reviews = [item for review in reviews_list for item in review]
words_counter = Counter(reviews)
words_counter.most_common(10)

[(('요', 'Eomi'), 119371),
 (('.', 'Punctuation'), 68391),
 (('좋', 'Adjective'), 64890),
 (('이', 'Josa'), 64485),
 (('에', 'Josa'), 50055),
 (('도', 'Josa'), 47048),
 (('아요', 'Eomi'), 37162),
 (('가', 'Josa'), 36606),
 (('은', 'Josa'), 35252),
 (('네요', 'Eomi'), 34434)]

In [100]:
print("리뷰에 포함된 unique word 개수:", len(words_counter))

리뷰에 포함된 unique word 개수: 39233

#### 만족도별 리뷰 개수

In [89]:
review_count_by_rating = reviews_df.pivot_table(index = 'Rating', values = 'Review',aggfunc = len, margins=True)
review_count_by_rating['%'] = review_count_by_rating['Review']/184963*100
review_count_by_rating

          Review           %
Rating
만족       56128.0   30.345529
보통       75344.0   40.734633
불만       14439.0    7.806426
적극추천     21484.0   11.615296
추천       13035.0    7.047355
추천안함      4533.0    2.450760
All     184963.0  100.000000