In [1]:
import pandas as pd

In [2]:
# 태그
tag_df = pd.read_csv('../crawling/tags_txt/tags_processed.csv', index_col=0)
tag_df.head()

           Id                                               Tags
0  2301428333  여자 가방 쇼핑몰 여자 옷 쇼핑몰 추천 대여 쇼핑몰 대여 쇼핑몰 여자 지갑 추천 여...
1  2757633970  독특한 프랑스 감성 빈티 지갑 유니크 지갑 질 좋 개성 템 미니 파우치 가죽 동전지...
2  1002840624                                           귀여운 선물 좋
3  2668818308  상큼 포인트 티크 디자인 포인트 귀여운 디자인 수납 좋 미니 지갑 스타일 편리한 지...
4  1001594949                                     귀여운 러블리 포인트 패션

In [3]:
# 만족도, 리뷰
rating_review_df = pd.read_csv('../crawling/Reviews_csv/Reviews_merged_processed.csv', index_col=0)
rating_review_df.head()

           Id Rating                                             Review
0  2301428333     추천  기여@@ 운 동전@@ 지갑@@ ♡ 복@@ 실@@ 복@@ 실 기여@@ 운 털@@ 동전...
1  2301428333     추천  기@@ 염 깜찍@@ ^^ 털이 보@@ 슬@@ 보@@ 슬@@ .@@ 하구요@@ ~~^...
5  2301428333   적극추천  너무 이뻐요 ^^ 사진으로 남겨@@ 보@@ 기는 처음이에요 근데 너무너무 만족스러워...
6  2301428333   적극추천  강추@@ 템 털빠짐이 좀 있긴한데 처음@@ 만 그러@@ 구 괜찮아요@@ ^.^ 판매...
7  2301428333   적극추천  너무 귀엽@@ 습니다! 아는 동생@@ 에게 선물@@ 할@@ 겸 커플로 하려고 검은색...

In [4]:
# 카테고리
category_df = pd.read_csv("../crawling/Category/category_processed.csv", index_col=0)
category_df.head()

           Id category       subcat
0  1000092536     bags  12016001003
1  1000111193     bags  12016001009
2  1000128563    outer  12015004003
3  1000128881   bottom  12015009005
4  1000154667    outer  12015004003

In [5]:
complete_df = pd.merge(tag_df, category_df, on="Id")
complete_df = pd.merge(complete_df, rating_review_df, on="Id")
complete_df.to_csv("../data/complete_df.csv", encoding='utf-8')